@model IEnumerable<SharedLibraryCore.Dtos.ChatInfo>
@{
    Layout = null;
}

<div class="client-message-context">
    <h5 class="bg-primary pt-2 pb-2 pl-3 mb-0 mt-2 text-white">@Model.First().Time.ToString()</h5>
    <div class="bg-dark p-3 mb-2 border-bottom">
        @foreach (var message in Model)
        {
            <span class="text-white">@message.Name</span><span> &mdash; <span class="@(message.IsQuickMessage ? "font-italic" : "")">@message.Message</span></span><br />
        }
    </div>
</div>