@model IEnumerable<IW4MAdmin.Plugins.Stats.Models.EFACSnapshot>
@{
    Layout = null;
}

<div class="penalty-info-context bg-dark p-2 mt-2 mb-2 border-top border-bottom">
    @foreach (var snapshot in Model)
    {
        <!-- this is not ideal, but I didn't want to manually write out all the properties-->
        var snapProperties = Model.First().GetType().GetProperties();
        foreach (var prop in snapProperties)
        {
            <!-- this is another ugly hack-->
            @if (prop.GetValue(snapshot) is System.Collections.Generic.HashSet<SharedLibraryCore.Helpers.Vector3>)
            {
                @*<span class="text-white">@prop.Name </span>
                foreach (var v in (System.Collections.Generic.HashSet<SharedLibraryCore.Helpers.Vector3>)prop.GetValue(snapshot))
                {
                    <span>@v.ToString(),</span><br />
                }*@
            }
            else
            {
                <span class="text-white">@prop.Name </span> <span>&mdash; @prop.GetValue(snapshot)</span><br />
            }
        }
        <div class="w-100 mt-1 mb-1 border-bottom"></div>
    }
</div>