@model IEnumerable<SharedLibraryCore.Dtos.ChatInfo>
@{
    Layout = null;
}

<div class="client-message-context bg-dark p-2 mt-2 mb-2 border-top border-bottom">
    <h5>@Model.First().Time.ToString()</h5>
    @foreach (var message in Model)
    {
        <span class="text-white">@Html.ActionLink(@message.Name, "ProfileAsync", "Client", new { id = message.ClientId})</span><span> &mdash; @message.Message</span><br />
    }
</div>