@model IEnumerable<SharedLibraryCore.Dtos.PlayerInfo>
@{
    Layout = null;
}

<div class="mb-15 text-center font-weight-lighter">
    @foreach (var match in Utilities.SplitTranslationTokens("WEBFRONT_MODAL_RECENT_CLIENTS_SUBTITLE"))
    {
        if (match.IsInterpolation && match.MatchValue == "time")
        {
            <span class="text-primary">24</span>
        }

        else
        {
            <span>@match.MatchValue</span>
        }
    }
</div>

<div id="recentClientContainer">
    <partial name="~/Views/Shared/Components/Client/_RecentClients.cshtml" for="@Model"/>
</div>

<i class="loader-load-more oi oi-chevron-bottom text-center text-primary w-full"></i>
<script>initLoader('/Action/RecentClientsForm', '#recentClientContainer', 20);</script>
