@model IEnumerable<SharedLibraryCore.Dtos.PlayerInfo>
@{
    Layout = null;
}

@if (ViewBag.First)
{
    <div class="mb-15 text-center font-weight-lighter">New clients connected in the last <span class="text-primary">24</span> hours</div>
}

@foreach (var client in Model)
{
    @if (ViewBag.First)
    {
        <div id="recentClientsContainer">
            <partial name="~/Views/Shared/Components/Client/_RecentClient.cshtml" for="@client"/>
        </div>
    }
    else
    {
        <partial name="~/Views/Shared/Components/Client/_RecentClient.cshtml" for="@client"/>
    }
}

@if (ViewBag.First)
{
    <i id="loaderLoad" class="loader-load-more oi oi-chevron-bottom text-center text-primary d-none d-lg-block mt-10"></i>

    <script>initLoader('/Action/RecentClientsForm', '#recentClientsContainer', 30);</script>
}
