<form class="form-inline ml-auto" method="get" asp-controller="Client" asp-action="Find">
    <div class="input-group">
        <input id="client_search_mobile" name="clientName" class="form-control" type="text" placeholder="@ViewBag.Localization["WEBFRONT_NAV_SEARCH"]" required="required"/>
        <div class="input-group-append">
            <button class="btn" type="submit">
                <i class="oi oi-magnifying-glass"></i>
            </button>
        </div>
    </div>

    <br/>
</form>
