
@model  SharedLibrary.Dtos.ServerInfo
 
<table class="table">
    <thead class="bg-primary">
        <tr>
            <th>ServerName</th>
            <th>MapName</th>
            <th>Players</th>
        </tr>
    </thead>
</table>