@import 'profile.scss';

$icon-font-path: '/font/' !default;
@import '../../lib/open-iconic/font/css/open-iconic-bootstrap.scss';

.navbar-nav .nav-link:hover {
    background-color: $body-bg;
}

nav.navbar-dark {
    border-bottom: 1px solid $secondary;
}

a.nav-link {
    padding: $spacer * 1.5;
}

.server-history-row {
    height: 100px;
    padding: 0 !important;
}

.canvasjs-chart-credit {
    display: none;
}

.table thead th,
.table th,
.table td {
    border: none;
}

.server-history,
.server-activity,
#mobile_seperator,
.border-bottom {
    border-bottom: 1px solid $primary !important;
}

.server-history {
    background-color: $big-dark;
}

.border-top {
    border-top: 1px solid $primary !important;
}

#client_search {
    background-color: #222222 !important;
    border-radius: 0;
    border: 1px solid $orange;
    color: $white;
}

.server-join-button, .server-join-button:hover {
    color: $white !important;
}

a.link-inverse {
    color: $primary;
}

a.link-inverse:hover {
    color: $white;
}

@media (min-width: 768px) {
    .d-md-table-header-group {
        display: table-header-group !important;
    }
}

@media (min-width: 992px) {
    .d-lg-table-header-group {
        display: table-header-group !important;
    }
}

#console_command_response {
    min-height: 20rem;
}

#console_command_response hr {
    border-color: #6c757d;
}

#console .form-control, #console button {
    border-radius: 0;
    border-color: $primary;
    border-left: 0;
    border-right: 0;
}

.close {
    text-shadow: none !important;
}

.modal-footer {
    border-top-color: $orange;
}

.modal-header {
    border-bottom-color: $orange;
}

form *, select, button.btn {
    border-radius: 0 !important;
}

#penalty_filter_selection {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-top: 1px solid $text-muted;
}

.oi-fix-navbar {
    line-height: 1.5 !important;
    top: 0 !important;
    font-size: 1rem !important;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

.layout-loading-icon {
    position: fixed !important;
    left: 50%;
    top: 50% !important;
    margin-left: -37px;
    margin-top: -37px;
    color: $primary;
    z-index: 100;
    font-size: 4rem;
    -webkit-animation: rotation 1s infinite linear;
    background-color: rgba(0, 0,0, 0.5);
    border-radius: 40px;
    padding: 5px;
    visibility: hidden;
}

.loader-load-more {
    border-radius: 0;
}

.input-border-transition {
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
}

.input-text-danger {
    border-color: $red !important;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-item {
    border-bottom: 1px solid $secondary;
    margin-top: -3px;
}

.striped > div:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.125);
}

.striped > div:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

.client-rating-graph {
    min-height: 100px;
}

.client-rating-icon {
}

.client-rating-change-up, .client-rating-change-down {
    font-size: 0.75rem;
}

.client-rating-change-amount {
    font-size: 1rem;
}

.oi {
    cursor: pointer;
}

#footer_text {
    font-size: 0.85rem;
}

.footer-mobile {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.nav-tabs, .nav-tabs .nav-link.active {
    color: $white !important;
    border: none;
}

.nav-tabs .nav-link:hover {
    color: $blue;
    background-color: rgba(24, 24, 24, 0.75);
    border: none;
}

.nav-tabs .nav-link {
    border-radius: 0;
    padding: 1.5rem;
    color: #6c757d;
    border: none;
    min-width: 20rem;
    background-color: #181818;
}

.nav-tabs .nav-link.active {
    border: none;
    background-color: $blue;
}

.nav-tabs .nav-link.active:hover {
    background-color: darken($primary, 10%);
}

title {
    background-color: darken($primary, 10%);
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}

/* Configuration */
.configuration-form input[type='text'], .configuration-form input[type='number'], input.text-box {
    border: 1px solid $orange;
}

.hide {
    display: none;
}

.client-location-flag {
    width: 3rem;
    height: 1.5rem;
    background-image: url('/images/radar/hud_weapons/hud_neutral.png');
    background-size: contain;
    background-repeat: no-repeat
}

.text-color-code-0 {
    color: $dark;
}

.text-color-code-1 {
    color: $red;
}

.text-color-code-2 {
    color: $green;
}

.text-color-code-3 {
    color: $yellow;
}

.text-color-code-4 {
    color: $blue;
}

.text-color-code-5 {
    color: $teal;
}

.text-color-code-5 {
    color: $purple;
}

.text-color-code-7 {
    color: $white;
}

.text-color-code-8, .text-color-code-9 {
    color: grey;
}

.text-color-code-58 {
    animation: color-change 54s infinite;
}

@keyframes color-change {
    0% {
        color: #ff0000;
    }

    16.66% {
        color: #ffff00;
    }

    33.33% {
        color: #00ff00;
    }

    50% {
        color: #00ffff;
    }

    66.66% {
        color: #0000ff;
    }

    83.33% {
        color: #ff00ff;
    }

    100% {
        color: #ff0000;
    }
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin:0;
    padding: 0;
}
label.toggle-switch {
    margin: 0;
}

.toggle-switch {
    position: relative;
    height: calc(1.5em + 0.75rem + 2px);
    width: 6rem;
    border: 1px solid $text-muted;
}

.toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch-slider:before {
    position: absolute;
    content: "";
    height: calc(1.5em + 0.75rem);
    width: 3em;
    background-color: $light;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

input:checked + .toggle-switch-slider {
    background-color: $primary;
}

input:checked + .toggle-switch-slider:before {
    -webkit-transform: translateX(3em);
    -ms-transform: translateX(3em);
    transform: translateX(3em);
}

.action-kick-button {
    color: #492121;
    margin-top: 0.25rem;
}

.action-kick-button:hover {
    color: #ff6060 !important;
    color: rgba(255, 69, 69, 0.85) !important;
}

.text-force-break 
{
    word-break: break-all; 
    overflow-wrap: break-word;
}

div.card {
    min-width: 15rem;
    border-radius: 0;
}

.stat-card {
    max-width: 15rem;
}

#rank_icon {
    max-height: 6rem;
}

.border-bottom-danger {
    border-bottom: $danger;
}

.border-top-danger {
    border-top: $danger;
}

.border-danger {
    border: 1px solid $danger;
}

#client_stats_summary a:hover {
    color:  #e0e0e0;
}

#hitlocation_container {
    background-color: #141414;
}
