.level-bgcolor-console {
    background-color: grey;
}

.level-color-user, .level-color-guest, .level-color-0 {
}

.dark-mode .level-bgcolor-user, .dark-mode .level-bgcolor-guest, .dark-mode .level-bgcolor-0 {
    background-color: #6c757d !important;
    background-color: rgba(255, 255, 255, 0.68) !important;
}

.level-bgcolor-user, .level-bgcolor-guest, .level-bgcolor-0 {
    background-color: var(--lm-base-body-bg-color) !important;
}

.level-color-trusted, .level-color-2 {
    color: #749363 !important;
    color: rgba(116,147,99,1) !important;
}

.level-bgcolor-trusted, .level-bgcolor-2 {
    background-color: #749363 !important;
    background-color: rgba(116,147,99,1) !important;
}

.level-color-flagged, .level-color-1 {
    color: #fd9c38 !important;
    color: rgba(253, 139, 22, 0.85) !important;
}

.level-bgcolor-flagged, .level-bgcolor-1 {
    background-color: #fd9c38 !important;
    background-color: rgba(253, 139, 22, 0.85) !important;
}

.level-color-banned, .level-color-console, .level-color--1 {
    color: #ff6060 !important;
    color: rgba(255, 69, 69, 0.85);
}

.level-bgcolor-banned, .level-bgcolor--1 {
    background-color: #ff6060 !important ;
    background-color: rgba(255, 69, 69, 0.85) !important;
}

.level-color-moderator, .level-color-3 {
    color: #f0de8b !important;
    color: rgba(235, 211, 101, 0.75) !important;
}

.level-bgcolor-moderator, .level-bgcolor-3 {
    background-color: #f0de8b !important;
    background-color: rgba(235, 211, 101, 0.75) !important;
}

.level-color-administrator, .level-color-4 {
    color: #f1a8e8 !important;
    color: rgba(236, 130, 222, 0.69) !important;
}

.level-bgcolor-administrator, .level-bgcolor-4 {
    background-color: #f1a8e8 !important;
    background-color: rgba(236, 130, 222, 0.69) !important;
}

.level-color-senioradmin, .level-color-5 {
    color: #50bcc3 !important;
    color: rgba(50, 177, 185, 0.85) !important;
}

.level-bgcolor-senioradmin, .level-bgcolor-5 {
    background-color: #50bcc3 !important;
    background-color: rgba(50, 177, 185, 0.85) !important;
}

.level-color-owner, .level-color-6 {
    color: rgb(0, 122, 204) !important;
}

.level-bgcolor-owner, .level-bgcolor-6 {
    background-color: var(--primary-color) !important;
}

.level-color-8 {
    color: #de4423 !important;
}

.level-bgcolor-8 {
    background-color: #de4423 !important;
}

.profile-meta-title {
    color: white;
}

.penalties-color-kick {
    color: rgb(182, 129, 43);
}

.penalties-color-unban {
    color: #749363;
    color: rgba(116, 147, 99, 1);
}

.penalties-color-unflag {
    color: rgb(140, 154, 132);
}

.penalties-color-report {
    color: #b3ae8f;
}

.penalties-color-warning {
    color: #f0de8b;
    color: rgba(235, 211, 101, 0.75);
}

.penalties-color-tempban {
    color: #fe7e4c;
    color: rgba(254, 126, 76, 0.85);
}

.penalties-bgcolor-tempban {
    background-color: #fe7e4c;
    background-color: rgba(254, 126, 76, 0.85);
}

.penalties-color-flag {
    color: #fd9c38;
    color: rgba(253, 139, 22, 0.85);
}

.penalties-color-ban {
    color: #ff6060;
    color: rgba(255, 69, 69, 0.85);
}

#profile_aliases_btn {
    cursor: pointer;
}

    #profile_aliases_btn:hover {
        cursor: pointer;
    }

#profile_aliases {
    position: relative;
    display: none;
}

#profile_avatar {
    min-width: 8rem;
    min-height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-shortcode {
    font-size: 5rem;
    color: white;
}

#profile_level > span.level {
    color: #f1a8e8;
    color: rgba(236, 130, 222, 0.69);
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.4em;
}

.profile-event-timestep {
    font-size: 1.25rem;
}

#profile_level > span.level {
    color: #f1a8e8;
    color: rgba(236, 130, 222, 0.69);
    font-weight: bold;
}

.profile-action {
    cursor: pointer;
}

    .profile-action.oi:hover {
        opacity: 0.75;
    }

#profile_events span {
    word-break: break-all;
}

.profile-country-flag {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height:5rem;
}

.status-indicator {
    height: 1rem;
    width: 1rem;
}

.with-ripple {
    animation: ripple 1.5s ease-out infinite;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}
