@using SharedLibraryCore.Dtos.Meta.Responses
@model IList<MessageResponse>
@{
    Layout = null;
}

<div class="client-message-context">
    <h5 class="bg-primary pt-2 pb-2 pl-3 mb-0 mt-2 text-white">@Model.First().When.ToString()</h5>
    <div class="bg-dark p-3 mb-2 border-bottom">
        @foreach (var message in Model)
        {
            <span class="text-white">
                <color-code value="@message.ClientName" allow="ViewBag.EnableColorCodes"></color-code>
            </span>
            <span>
                &mdash;
                <span class="@(message.IsQuickMessage ? "font-italic" : "")">
                    <color-code value="@(message.IsHidden ? message.HiddenMessage : message.Message)" allow="ViewBag.EnableColorCodes"></color-code>
                </span>
            </span>
            <br />
        }
    </div>
</div>