@model IEnumerable<Data.Models.Client.Stats.EFACSnapshot>
@{
    Layout = null;
}

<div class="penalty-info-context bg-dark p-2 mt-2 mb-2 border-top border-bottom">
    @foreach (var snapshot in Model)
    {
        <!-- this is not ideal, but I didn't want to manually write out all the properties-->
        var snapProperties = Model.First().GetType().GetProperties();
        foreach (var prop in snapProperties)
        {
            @if ((prop.Name.EndsWith("Id") && prop.Name != "WeaponId") || new[] { "Active", "Client", "PredictedViewAngles" }.Contains(prop.Name))
            {
                continue;
            }

            <span class="text-white">@prop.Name </span> <span>&mdash; @prop.GetValue(snapshot).ToString()</span><br />
        }
        <div class="w-100 mt-1 mb-1 border-bottom"></div>
    }
</div>