@model IEnumerable<SharedLibraryCore.Dtos.CommandResponseInfo>
@{
    Layout = null;
}

@{
    foreach (var response in Model)
    {
        <span class="text-muted">@response.Response</span><br />
    }
    <hr />
}