@model List<SharedLibraryCore.Dtos.CommandResponseInfo>
@{
    Layout = null;
}

@{
    foreach (var response in Model)
    {
        <span class="text-success">@response.Response</span><br />
    }
}