@model IEnumerable<SharedLibraryCore.Dtos.ServerInfo>

<div class="content mt-0">
    <h2 class="content-title mt-20">Web Console</h2>

    <div id="console" class="card m-0 mb-20">
        <div id="console_command_response" class="bg-dark-dm bg-light-lm p-10 code rounded">
            <pre style="font-size: 8px;">                                /(((((((*                           
                      ./((((((((((((((((,                            
            .*/(((((((((((((((((((((((((.                            
    *((((((((((((((((((((((((((((((((((                              
 ./(((((((((((((((((((((((((((((((((((/ ,**,                         
    ./(((((((((((((((((((((((((((((((/  ,******,                     
       ,(((((((((((((((((((((((((((((* ********//**.                 
         */(((((((((((((((((((((((((* ***************                
      ,***  ,(((((((((((((((((((((((,  ,***************.             
     ,****/**,*/(((((((((((((((((((.       *************,            
    ************,,((((((((((((((((*.         ,************           
  .***********,     *(((((((((((((            .*//*********          
 .,**********,        ,(((((((((/               ***********          
 ,**********,           *(((((((/               ,**********          
 ,/*********,             .*(((*                 **********,         
 ,/*********,                .*.                 ***********.        
 ,**********,                                   ***********          
  .***********                                  ***********          
  .************                               .***********           
    ************.                           .************,           
     ,*************                      .**************,            
      .*****************              *****************.             
         *******************************************,                
           .*//***********************************.                  
              ********************************,.                     
                 .************************,                          
                            ,.**,           
            </pre>
        </div>
    </div>

    <div class="card m-0 rounded">
        <div class="input-group mb-10">
            <div class="input-group-prepend">
                <div class="input-group-text">@ViewBag.Localization["WEBFRONT_CONSOLE_FORM_SERVER"]</div>
            </div>
            @Html.DropDownList("Server", Model.Select(server => new SelectListItem { Text = $"[{server.Game}] {server.Name.StripColors()}", Value = server.ID.ToString() }).ToList(), new { @class = "form-control", id = "console_server_select" })
        </div>
        <div class="input-group">
            <input id="console_command_value" class="form-control" placeholder="@ViewBag.Localization["WEBFRONT_CONSOLE_FORM_PLACEHOLDER_COMMAND"]" type="text" required="required"/>
            <div class="input-group-append">
                <button id="console_command_button" class="btn btn-primary">
                    @Utilities.CurrentLocalization.LocalizationIndex["WEBFRONT_CONSOLE_EXECUTE"]
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/console.js"></script>
    </environment>
}
